<html>
  <head>
    <title>Login Verification - TillWhen</title>
  </head>
  <body
    style="
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    "
  >
    <table
      style="
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 35px 30px;
      "
    >
      <thead>
        <tr>
          <th>
            <h1>Cor</h1>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h3>We need to verify it was you.</h3>
          </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr style="text-align: left">
          <td>
            <p>Hello there,</p>
            <p>We received a registration request.</p>
          </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr style="text-align: left">
          <td>
            <p>To complete the login process, please click the button below</p>
          </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <td>
            <a
              target="_blank"
              href="<%= verificationLink %>"
              style="
                text-decoration: none;
                display: inline-block;
                line-height: 42px;
                font-size: 16px;
                height: 42px;
                margin-top: 8px;
                min-width: 132px;
                width: auto;
                padding: 0px 16px;
                background: #000;
                color: #fff;
                border-radius: 5px;
              "
            >
              Verify
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <p>Or copy paste this link into the browser</p>
            <a href="<%= verificationLink %>"><%= verificationLink %></a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
